.container{
    max-width: 1000px;
    margin: 0 auto;
    height: 800px;
    border: 1px solid red;

}

.row{
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-wrap: wrap;
}



/* 
.blok{
    width: 25%;
    height: 300px;
}

.blok.blok--1{
    background-color: red;
    height: 500px;
}

.blok--2{
    background-color: blue;
}

.blok--3{
    background-color: black;
}
 */
.body{
    background-color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
  margin: -10px;
}

.item-container{
width: 33.3%;
padding: 10px;
box-sizing: border-box;
}

.item{
    background-color: red;
    height: 300px;
    transition: opaciti .5s, backgraund-color 1s;
    transition-delay: 1s;
}
.item:hover{
    cursor: pointer;
    background-color: green;
    opacity: .5s;
  
}

.element{
    height: 500px;
    width: 500px;
    background-color: red;
    transition: .5s;
    opacity: 0;
}

.anim{
    
    height: 500px;
    width: 500px;
    background-color: rgb(196, 92, 18);
    animation: rotating 10s ease-in-out infinite;
}


.anim:hover .element{
transform: translate(500px);
opacity: 1;
}


@keyframes rotating{
    from{
        transform: rotate(0eg);
    }

    to{
transform: rotating(360eg);

    }
}
.table {
    margin-top: 500px;
}
.td,th{
    border: 1px solid blue;
}